<center>
	<% if @task.errors.any? %>
		<%= render partial: "layouts/errors", locals: { r: @task } %>
	<% end %>

	<%= link_to "Back", task_path, :class => "button" %>
	<br/>
	<hr/>
	<br/>
	<div>
		<h1 class="title">Edit Task: <%= @task.task_name %></h1>
		<%= render "form" %>
	</div>
</center>