<center>
	<%# <h1><em>Log in or sign up to get started!</em></h1> %>
	<%# <br/> %>
	<div class="welcomeNav">
		<%= link_to "Sign up", "/users/new", :class => 'getStartedLink' %>
		<%= link_to "Log in", "/sessions/new", :class => 'getStartedLink' %>
	</div>
</center>