<nav class="welcomeNavigation">
	<%= link_to "Sign up", "/users/new", :class => 'navItems' %>
	<%= link_to "Log in with GitHub", "/auth/github", :class => 'navItems' %>
	<%= link_to "Log in", "/sessions/new", :class => 'navItems' %>
</nav>