<center>
	<% if @contact.errors.any? %>
		<%= render partial: "layouts/errors", locals: { r: @contact } %>
	<% end %>

	<%= link_to "Back", contact_path, :class => "button" %>
	<br/>
	<hr/>
	<br/>
	<div>
		<h1 class="title">Edit Contact: <%= @contact.first_name %></h1>
		<%= render "form" %>
	</div>
</center>