<div class="indexContainer">
	<div class="contactsListContainer">
		<center><h1 class="title">My Contacts</h1></center>
		<hr/>
		<% @contacts.each do |c| %>
			<%= render partial: "contacts/contact", locals: { c: c } %>
		<% end %>
	</div>

	<div class="indexNewForm">
		<center><h1 class="title">New Contact</h1></center>
		<hr/>
		<%= render "form" %>
	</div>
</div>