<center>
	<h1 class="showTitle">New Contact:</h1>
	<hr/>
	<h1><em>First Name:</em> <%= @contact.first_name %></%=>
	<h1><em>Last Name:</em> <%= @contact.last_name %></%=>
	<h1><em>Phone Number:</em> <%= @contact.phone_number %></%=>
	<h1><em>Email:</em> <%x= @contact.email %></%x=>
</center>>