<div class="indexContainer">
	<div class="recordListContainer">
		<center><h1 class="title">Projects</h1></center>
		<hr/>
		<% @projects.each do |p| %>
			<%= render partial: "projects/project", locals: { p: p } %>
		<% end %>
	</div>

	<div class="indexNewForm">
		<center><h1 class="title">New Project</h1></center>
		<hr/>
		<%= render "form" %>
	</div>
</div>