.showTitle {
	color: dodgerblue;
}
.navigateToContact {
	color: dodgerblue;
	text-decoration: none;
}
.navigateToContact:hover {
	color: #666;
	text-decoration: underline;
}
.partial {
	// height: -webkit-fill-available;
	max-height: 85vh;
	overflow: scroll;
}
.indexTitle {
	border-right: 1px solid #666;
	width: 30%;
}
.indexNewForm {
	width: 100%;
}
.indexContainer {
	display: flex;
}