.welcomeNav {
	display: flex;
	justify-content: space-evenly;
}
.getStartedLink {
	color: black;
	text-decoration: none;
	font-size: 3em;
	padding: calc(50vh / 2);
	background: lightskyblue;

}
.getStartedLink:hover {
	opacity: .8;
}