<center>
	<% if @account.errors.any? %>
		<%= render partial: "layouts/errors", locals: { r: @account } %>
	<% end %>

	<%= link_to "Back", account_path, :class => "button" %>
	<br/>
	<hr/>
	<br/>
	<div>
		<h1 class="title">Edit Account: <%= @account.name %></h1>
		<%= render "form" %>
	</div>
</center>