<div class="indexContainer">
	<div class="recordListContainer">
		<center><h1 class="title">My Accounts</h1></center>
		<hr/>
		<% @accounts.each do |a| %>
			<%= render partial: "accounts/account", locals: { a: a } %>
		<% end %>
	</div>

	<div class="indexNewForm">
		<center><h1 class="title">New Account</h1></center>
		<hr/>
		<%= render "form" %>
	</div>
</div>